@using FrontendTestMFC.Model

<div class="center border rounded px-3 py-3 mx-auto" style="margin-top: 100px; width: 400px;">
    <div style="text-align: center">
        <h1>Login</h1>
    </div>
    <EditForm Model="@usermodel">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <InputText id="username" class="form-control" @bind-Value="usermodel.username" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <InputText id="username" type="password" class="form-control" @bind-Value="usermodel.password" />
        </div>
        <div class="mb-3 d-grid">
            <button name="submit" type="submit" class="btn btn-primary">Login</button>
        </div>
    </EditForm>
 </div>

 @code{
     private UserModel usermodel = new UserModel();
 }
